{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_user_favorites/favorites
    Template for the favorites.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hascurrenturl bool If current url is in user favorites
    * data array The list of favorites.

    Example context (json):
    {
        "hascurrenturl": false,
        "data": [
            {
                "url": "http://domain.com",
                "name": "Domain",
                "hash": "8277e0910d750195b448797616e091ad",
                "class": "active"
            },
            {
                "url": "http://domain2.com",
                "name": "Domain2",
                "hash": "8277e0910d750195b448797616e091ad",
                "class": ""
            }
        ]
    }
}}
<ol id="block_user_favorites-items" class="list">
    {{#data}}
        <li data-hash="{{hash}}">
            <div class="fa-control">
                <i class="fa fa-edit" title="{{# str}} btn:edit, block_user_favorites {{/ str}}"></i>
                <i class="fa fa-remove" title="{{# str}} btn:remove, block_user_favorites {{/ str}}"></i>
            </div>
            <a class="{{class}}" href="{{url}}">{{name}}</a>
        </li>
    {{/data}}
</ol>
<div class="block_user_favorites-control">
    {{^hascurrenturl}}
        <span class="btn btn-default" id="block_user_favorites_set">
            {{# str}} btn:add, block_user_favorites {{/ str}}
        </span>
    {{/hascurrenturl}}
    {{#hascurrenturl}}
        <span class="btn btn-default" id="block_user_favorites_delete">
            {{# str}} btn:delete, block_user_favorites {{/ str}}
        </span>
    {{/hascurrenturl}}
</div>
